Perform groupBy() and agg() functions with multiple aggregations.


*  Load a dataset with categorical and numerical data.
*  Use groupBy() to group data based on a column.
*  Apply multiple aggregations like sum(), avg(), count().
*  Display the results in a structured format.

In [2]:
from pyspark.sql import SparkSession,Row

In [3]:
spark = SparkSession.builder.appName('Assessment2').getOrCreate()

In [8]:
my_data = [Row(Name = 'Akash', Mentor = 'GnanaSirisha',stipend=4900),
           Row(Name = 'Pavan Kalyan', Mentor = 'Vinay',stipend=5000),
           Row(Name = 'Chandrika', Mentor = 'Nusrath',stipend=4600),
           Row(Name = 'Sahiti ', Mentor = 'Srinivas',stipend=4500),
           Row(Name = 'Venkatesh Mannepati', Mentor = 'GnanaSirisha',stipend=5000),
           Row(Name = 'Johnson Gali',Mentor = 'GnanaSirisha',stipend = 4950),
           Row(Name = 'Vaishnavi', Mentor = 'Vinay',stipend = 4600),
           Row(Name = 'Thanusha', Mentor = 'Pavan', stipend = 0)]

In [5]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [15]:
new_schema = StructType([StructField('Name',StringType(),True),
                         StructField('Mentor',StringType(),True),
                         StructField('Stipend',IntegerType(),True)])

In [16]:
my_data_frame = spark.createDataFrame(data = my_data,schema=new_schema)

In [17]:
my_data_frame.show()

+-------------------+------------+-------+
|               Name|      Mentor|Stipend|
+-------------------+------------+-------+
|              Akash|GnanaSirisha|   4900|
|       Pavan Kalyan|       Vinay|   5000|
|          Chandrika|     Nusrath|   4600|
|            Sahiti |    Srinivas|   4500|
|Venkatesh Mannepati|GnanaSirisha|   5000|
|       Johnson Gali|GnanaSirisha|   4950|
|          Vaishnavi|       Vinay|   4600|
|           Thanusha|       Pavan|      0|
+-------------------+------------+-------+

In [21]:
display(my_data_frame.groupBy('Mentor'))

GroupedData[grouping expressions: [Mentor], value: [Name: string, Mentor: string ... 1 more field], type: GroupBy]

In [27]:
# df = spark.read.option('header','true').csv('/content/data.csv')

In [31]:
df=spark.read.csv(path = '/content/data.csv',header = 'True')

In [32]:
df.show()

+----+----------+----+--------------------+---------+----------------+-----------------+-----------------+---------------+--------------------+------------+-------------+-----------+--------+----------+-----+
|Make|     Model|Year|    Engine Fuel Type|Engine HP|Engine Cylinders|Transmission Type|    Driven_Wheels|Number of Doors|     Market Category|Vehicle Size|Vehicle Style|highway MPG|city mpg|Popularity| MSRP|
+----+----------+----+--------------------+---------+----------------+-----------------+-----------------+---------------+--------------------+------------+-------------+-----------+--------+----------+-----+
| BMW|1 Series M|2011|premium unleaded ...|      335|               6|           MANUAL| rear wheel drive|              2|Factory Tuner,Lux...|     Compact|        Coupe|         26|      19|      3916|46135|
| BMW|  1 Series|2011|premium unleaded ...|      300|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|  Convertible|         28|      19|      3916|40650|
| BMW|  1 Series|2011|premium unleaded ...|      300|               6|           MANUAL| rear wheel drive|              2|Luxury,High-Perfo...|     Compact|        Coupe|         28|      20|      3916|36350|
| BMW|  1 Series|2011|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|        Coupe|         28|      18|      3916|29450|
| BMW|  1 Series|2011|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|              Luxury|     Compact|  Convertible|         28|      18|      3916|34500|
| BMW|  1 Series|2012|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|        Coupe|         28|      18|      3916|31200|
| BMW|  1 Series|2012|premium unleaded ...|      300|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|  Convertible|         26|      17|      3916|44100|
| BMW|  1 Series|2012|premium unleaded ...|      300|               6|           MANUAL| rear wheel drive|              2|Luxury,High-Perfo...|     Compact|        Coupe|         28|      20|      3916|39300|
| BMW|  1 Series|2012|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|              Luxury|     Compact|  Convertible|         28|      18|      3916|36900|
| BMW|  1 Series|2013|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|              Luxury|     Compact|  Convertible|         27|      18|      3916|37200|
| BMW|  1 Series|2013|premium unleaded ...|      300|               6|           MANUAL| rear wheel drive|              2|Luxury,High-Perfo...|     Compact|        Coupe|         28|      20|      3916|39600|
| BMW|  1 Series|2013|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|        Coupe|         28|      19|      3916|31500|
| BMW|  1 Series|2013|premium unleaded ...|      300|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|  Convertible|         28|      19|      3916|44400|
| BMW|  1 Series|2013|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|              Luxury|     Compact|  Convertible|         28|      19|      3916|37200|
| BMW|  1 Series|2013|premium unleaded ...|      230|               6|           MANUAL| rear wheel drive|              2|  Luxury,Performance|     Compact|        Coupe|         28|      19|      3916|31500|
| BMW|  1 Series|2013|premium unleaded ...|      320|               6|           MANUAL| rear wheel drive|              2|Luxury,High-Perfo...|     Compact|  Convertible|         25|      18|      3916|48250|
| BMW|  1 Series|2013|premium unleaded ...|      320|               6|           MANUAL| rear wheel drive|              2|Luxury,High-Perfo...|     Compact|        Coupe|         28|      20|      3916|43550|
|Audi|       100|1992|    regular unleaded|      172|               6|           MANUAL|front wheel drive|              4|              Luxury|     Midsize|        Sedan|         24|      17|      3105| 2000|
|Audi|       100|1992|    regular unleaded|      172|               6|           MANUAL|front wheel drive|              4|              Luxury|     Midsize|        Sedan|         24|      17|      3105| 2000|
|Audi|       100|1992|    regular unleaded|      172|               6|        AUTOMATIC|  all wheel drive|              4|              Luxury|     Midsize|        Wagon|         20|      16|      3105| 2000|
+----+----------+----+--------------------+---------+----------------+-----------------+-----------------+---------------+--------------------+------------+-------------+-----------+--------+----------+-----+
only showing top 20 rows

In [54]:
df.printSchema()

root
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Engine Fuel Type: string (nullable = true)
 |-- Engine HP: string (nullable = true)
 |-- Engine Cylinders: string (nullable = true)
 |-- Transmission Type: string (nullable = true)
 |-- Driven_Wheels: string (nullable = true)
 |-- Number of Doors: string (nullable = true)
 |-- Market Category: string (nullable = true)
 |-- Vehicle Size: string (nullable = true)
 |-- Vehicle Style: string (nullable = true)
 |-- highway MPG: string (nullable = true)
 |-- city mpg: string (nullable = true)
 |-- Popularity: string (nullable = true)
 |-- MSRP: string (nullable = true)

Total Cars by Company

In [50]:
df.groupBy('Make').count().withColumnRenamed('count','Total_cars')\
                          .withColumnRenamed('Make','Company')\
                          .sort("Total_cars",ascending = False).show()

+-------------+----------+
|      Company|Total_cars|
+-------------+----------+
|    Chevrolet|      1123|
|         Ford|       881|
|   Volkswagen|       809|
|       Toyota|       746|
|        Dodge|       626|
|       Nissan|       558|
|          GMC|       515|
|        Honda|       449|
|        Mazda|       423|
|     Cadillac|       397|
|Mercedes-Benz|       353|
|       Suzuki|       351|
|          BMW|       334|
|     Infiniti|       330|
|         Audi|       328|
|      Hyundai|       303|
|        Volvo|       281|
|       Subaru|       256|
|        Acura|       252|
|          Kia|       231|
+-------------+----------+
only showing top 20 rows

Total Cars per Model

In [51]:
df.groupBy('Make','Model').count().withColumnRenamed('count','Total_cars')\
                          .withColumnRenamed('Make','Company')\
                          .sort("Total_cars",ascending = False).show()

+----------+------------------+----------+
|   Company|             Model|Total_cars|
+----------+------------------+----------+
| Chevrolet|    Silverado 1500|       156|
|    Toyota|            Tundra|       140|
|      Ford|             F-150|       126|
|       GMC|       Sierra 1500|        90|
|Volkswagen|Beetle Convertible|        89|
|    Toyota|            Tacoma|        80|
|    Nissan|          Frontier|        76|
|Volkswagen|               GTI|        76|
|Volkswagen|            Beetle|        75|
|     Honda|            Accord|        75|
|     Honda|             Civic|        68|
|     Dodge|            Dakota|        65|
|     Dodge|   Ram Pickup 1500|        62|
|Volkswagen|             Jetta|        61|
| Chevrolet|          Corvette|        60|
|   Porsche|               911|        58|
| Chevrolet|   C/K 1500 Series|        56|
| Chevrolet|          Colorado|        54|
|     Volvo|              XC60|        54|
|     Mazda|                 3|        53|
+----------+------------------+----------+
only showing top 20 rows

In [65]:
#without using agg()
my_data_frame.groupBy('Mentor').avg('Stipend').withColumnRenamed("avg(Stipend)",'avg_stipend_of_students_per_mentor').show()

+------------+----------------------------------+
|      Mentor|avg_stipend_of_students_per_mentor|
+------------+----------------------------------+
|GnanaSirisha|                            4950.0|
|    Srinivas|                            4500.0|
|       Vinay|                            4800.0|
|     Nusrath|                            4600.0|
|       Pavan|                               0.0|
+------------+----------------------------------+

In [73]:
#with agg()
from pyspark.sql.functions import avg
my_data_frame.groupBy('Mentor')\
              .agg(avg('Stipend')).show()

+------------+------------+
|      Mentor|avg(Stipend)|
+------------+------------+
|GnanaSirisha|      4950.0|
|    Srinivas|      4500.0|
|       Vinay|      4800.0|
|     Nusrath|      4600.0|
|       Pavan|         0.0|
+------------+------------+